@theme {
    /* TODO:- Remove comments */
    /* Line Heights */
    /*--leading-tight: 1.1;*/
    /*--leading-normal: 1.4;*/
    /*--leading-relaxed: 1.6;*/
  
    /*!* Letter Spacing *!*/
    --tracking-tight: -0.01em;
    --tracking-tighter: -0.02em;
    /*--tracking-wide: 0.02em;*/
  
    /* --font-atomic: var(--font-atomic); */
    --font-strawford: var(--font-strawford);
    --font-casa-grande: var(--font-casa-grande);
}

@layer base {
    .h1 {
      @apply text-[75px] font-casa-grande font-extrabold uppercase leading-[0.9] tracking-[-0.04em];
    }
  
    .h2 {
      @apply text-[44px] font-extrabold leading-[0.85] tracking-[-0.05em];
    }
  
    .h3 {
      @apply text-[32px] font-extrabold leading-[0.9] tracking-[-0.01em];
    }
  
    .h4 {
      @apply text-[24px] font-black uppercase leading-[0.85] tracking-[-0.01em];
    }
  
    @screen md {
      .h1 {
        @apply text-[75px] leading-[0.9];
      }
  
      .h2 {
        @apply text-[65px];
      }
  
      .h3 {
        @apply text-[45px] leading-[0.85];
      }
  
      .h4 {
        @apply text-[35px];
      }
    }
  }
  
  
  